<nav class="navbar navbar-expand-lg navbar-dark px-0">
    <div class="container-fluid px-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse border-top border-bottom w-100 d-flex justify-content-center px-0" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item border">
            <a class="nav-link active" aria-current="page" [routerLink]="[ '/home' ]">Star Wars Home</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" [routerLink]="[ '/listStarships' ]">StarShips List</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" [routerLink]="[ '/people' ]">People List</a>
          </li>
          <li class="nav-item border">
            <a class="nav-link" [routerLink]="[ '/starships' ]">Starships</a>
          </li>
        </ul>
      </div>
    </div>
</nav>