<div class=" d-flex justify-content-center">
    <form novalidate [formGroup]="newUser" (ngSubmit)="onSubmit()">
        <h1 class="col-12 m-auto text-center py-3 text-light">Sign-Up</h1>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" id="username" formControlName="username">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Password" id="password" formControlName="password">
        </div>
        <div>
            <button class="btn btn-dark" type="submit">Register</button>
        </div>
    </form>
</div>